/* common */

:root {
  --base_color: #323435;
  --base_background_color: #f7f3e7;
  --main_color: rgb(31 91 59 / 95%);
  --accent_color: rgb(255 108 108 / 95%);
  --text_color: #333;
  --link_color: #f5f5f5;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-weight: normal;
}

p {
  margin: 0;
  color: var(--text_color);
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--link_color);
  transition: opacity .3s;
}

a:hover {
  opacity: .5;
}

.container {
  margin: 0 16px;
}

#to_top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  opacity: 0;
  transition: opacity .3s;
}

#to_top.scrolled {
  opacity: 1;
}

#to_top i {
  font-size: 32px;
  color: var(--main_color);
}

/* headerの余白 */

main {
  padding-top: calc(38px + 8 * 2px);
}

/* header */

header {
  padding: 8px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--main_color);
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow .3s;
  height: auto;
}

header img {
  align-self: flex-start;
}

header.scrolled {
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

header ul {
  display: flex;
}

header li a {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
}

header li a i {
  font-size: 20px;
}

header li + li {
  margin-left: 16px;
}

header .pc-menu {
  display: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .pc-menu li a {
  font-size: 16px;
}

/* menu */

.overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  background: #8d8d8d;
  transition: all 0.6s;
  pointer-events: none;
}

.overlay h1 {
  font-size: 16px;
  padding: 14px;
  background: var(--main_color);
  color: #fff;
}

.overlay ul li {
  border-bottom: 1px solid #aaa;
}

.overlay ul li a {
  display: block;
  padding: 14px;
  color: #fff;
}

.overlay.show {
  right: 0;
  pointer-events: auto;
}

/* mask */

.mask {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.mask.disable {
  display: none;
}

/* トップページ */

.top-page h1 {
  color: var(--main_color);
  font-weight: bold;
  letter-spacing: 5px;
  font-family: "Arapey", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", serif;
  margin: 32px auto;
  text-align: center;
}

/* hero */

.hero {
  height: 350px;
}

.hero img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

.hero img.current {
  opacity: 1;
}

/* news */

.news .news-info {
  padding: 16px 0;
  border-top: 2px solid var(--main_color);
  border-bottom: 2px solid var(--main_color);
}

.news time {
  margin-right: 15px;
}

.news .news-info p + p {
  margin-top: 8px;
}

/* menu */

.menu img {
  width: 100%;
}

/* photos */

.photos {
  margin: 32px auto;
}

.photos ul {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
}

.photos li {
  width: calc((100% - 65px) / 2);
}

.photos li img {
  width: 100%;
}

/* aroma */

.aroma img {
  width: 100%;
}

/* トップページ以外のページ */

.header-banner {
  margin-top: 16px;
}

.header-banner img {
  width: 100%;
}

/* products */

.products {
  margin-bottom: 48px;
  /* このページだけ背景を白にしている */
  background-color: #fff;
}

.products h1 {
  text-align: center;
  padding: 60px 0;
}

.products ul {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.products li {
  width: calc((100% - 45px) / 2);
}

.products li h2 {
  text-align: center;
  font-size: 16px;
  color: var(--main_color);
}

.products li a {
  display: block;
}

.products li a:hover {
  opacity: 1;
}

.products li a img {
  width: 100%;
  transition: transform .3s;
}

.products li a img:hover {
  transform: translateY(-7px);
}

/* items */

.items .item-intro img {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.back a {
  display: block;
  width: 70%;
  line-height: 48px;
  border: 2px solid #333;
  text-align: center;
  margin: 48px auto;
}

/* copyright */

.copyright {
  background: var(--base_color);
  padding: 64px 0;
  text-align: center;
}

.copyright small {
  font-size: 16px;
  color: #eee;
}

/* associated */

.associated h1 {
  text-align: center;
  padding-bottom: 64px;
}

.associated .pic {
  padding: 24px;
  min-width: 40%;
}

.associated .pic img {
  width: 100%;
}

.associated h2 {
  color: var(--accent_color);
  font-size: 20px;
  text-align: center;
  padding-bottom: 16px;
}

.associated section + section {
  margin-top: 40px;
  border-top: 1px solid #999;
}

/* company */

.company table {
  padding: 24px;
}

.company th,
.company td {
  vertical-align: top;
  border-bottom: 1px dotted #ddd;
  min-width: 150px;
  padding: 15px 0;
}

.company th {
  text-align: left;
  font-weight: normal;
  color: #666;
}

.company td {
  margin-left: 32px;
  color: var(--text_color);
}

/* medium screen */

@media (min-width: 600px) {
  
  header .pc-menu {
    display: block;
  }

  header .sp-menu {
    display: none;
  }

  .products li {
    width: calc((100% - 45 * 2px) / 3);
  }
  
  .items .container {
    display: flex;
    justify-content: space-between;
  }

  .items .item-intro {
    width: 40%;
  }

  .items .item-desc {
    width: 55%;
  }

  .items h2 {
    margin-top: 24px;
  }

  .associated h2 {
    text-align: left;
  }

  .associated section {
    display: flex;
  }

  .associated .desc {
    padding: 24px;
  }

}

/* large screen */

@media (min-width: 800px) {

  .container {
    width: calc(100% - 32px);
    max-width: 800px;
    margin: 0 auto;
  }

  .products li {
    width: calc((100% - 45 * 3px) / 4);
  }

}